{% extends 'block/base.html' %}
{% load static %}


{% block main %}
    <main id="main" class="main">

<div class="pagetitle">
    <h1>Changer Votre Mot de Passe</h1>
</div>
<!-- End Page Title -->

<section class="">

        <div class="container-fluid">

    <!-- Alert Messages -->
    <div class="my-3">

      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle"></i>
        <strong>Success !</strong> Profil mise à jour avec succès.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle"></i>
        <strong>Success !</strong> Mot de passe mise à jour avec succès.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
        {{ user_form.errors }}
        {% for error in user_form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <strong>failure !</strong> {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
    </div>
    <!-- Alert Messages End -->

    <div class="row d-flex">
        <div class="card col-md-12">
                <h5 class="card-header">Changer Votre Mot de Passe</h5>
                <div class="card-body">
                    <div>
                        <form action="{% url 'users:change_password' %}" method="post" class="profile-form">
        {% csrf_token %}



        <div class="row mb-3">
            <label for="{{ form.old_password.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Ancien Mot de Passe <small><sup>*</sup></small></label>
            <div class="col-md-8 col-lg-9">
              <input name="old_password" type="password" class="form-control" id="{{ form.old_password.id_for_label }}" value="{{ form.old_password.value|default:"" }}">
            </div>
          </div>
        <div class="row mb-3">
            <label for="{{ form.new_password1.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Nouveau Mot de Passe <small><sup>*</sup></small></label>
            <div class="col-md-8 col-lg-9">
              <input name="new_password1" type="password" class="form-control" id="{{ form.new_password1.id_for_label }}" value="{{ form.new_password1.value|default:"" }}">
            </div>
          </div>
        <div class="row mb-3">
            <label for="{{ form.new_password2.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Confirmer Nouveau Mot de Passe<small><sup>*</sup></small></label>
            <div class="col-md-8 col-lg-9">
              <input name="new_password2" type="password" class="form-control" id="{{ form.new_password2.id_for_label }}" value="{{ form.new_password2.value|default:"" }}">
            </div>
          </div>
        <div class="row mb-3">
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </div>

        <div class="text-center">
          <button type="submit" class="">Enregistrer</button>
        </div>
      </form>
                    </div>

                </div>

        </div>
    </div>

  </div>


</section>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</main>
{% endblock %}

