{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    {% block meta %}

    {% endblock %}
    <title>
        {% block title %}

        {% endblock %}
    </title>
    {% block head_script %}
          <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.2.0/mustache.min.js" integrity="sha512-CswfmQmJj8DXhm29Qc5eLk5//2EW1CaI6de+RmRhSrWrXRhkBQ3795tuwJvT6DK6EF4IVqJIRmBg8EokL6c87g==" crossorigin="anonymous" defer  referrerpolicy="no-referrer"></script-->
          <script src="{% static 'jquery/jquery-3.3.1.js' %}"></script>
          <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>
    {% endblock %}

    <!-- Favicons -->

    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Vendor CSS Files -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <!-- Dropzone cdn -->
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block links %}

    {% endblock %}
</head>


<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">BRS</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Recherche" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>
        <!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li>
        <!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-grid"></i>
          </a>
          <!-- End Menu Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow menu">

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="menu-item">
              <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi bi-boxes"></i>
                <span>Configurations Système</span>
              </a>
            </li>
            <!-- End Configs Page Nav -->
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="menu-item">
              <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi bi-wallet2"></i>
                <span>Monétique</span>
              </a>
            </li>
            <!-- End Pay Page Nav -->
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="menu-item">
              <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi bi-currency-exchange"></i>
                <span>Trésorerie</span>
              </a>
            </li>
            <!-- End Money Page Nav -->
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="menu-item">
              <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi bi-server"></i>
                <span>Réferentiel</span>
              </a>
            </li>
            <!-- End Data Page Nav -->
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="menu-item">
              <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi bi-fingerprint"></i>
                <span>Droits d'accès</span>
              </a>
            </li>
            <!-- End Acces Page Nav -->
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="menu-item">
              <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi bi-save-fill"></i>
                <span>Sauvegardes</span>
              </a>
            </li>
            <!-- End Save Page Nav -->
          </ul><!-- End Messages Dropdown Items -->

        </li>
        <!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{ request.user.profile.image.url }}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.user.username }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ request.user.first_name }}</h6>
              <span>{{ request.user.profile.job }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'users:edit_user_profile' %}">
                <i class="bi bi-person"></i>
                <span>Profil</span>
              </a>
            </li>{% if request.user.is_superuser %}
              <li>
              <hr class="dropdown-divider">
            </li>
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'users:create_user' %}">
                    <i class="bi bi-person-plus"></i>
                    <span>Créer utilisateur</span>
                  </a>
                </li>
              {% endif %}
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Paramètres</span>
              </a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'users:logout_user' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Déconnexion</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li>
        <!-- End Profile Nav -->

      </ul>
    </nav>
    <!-- End Icons Navigation -->

  </header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-sliders"></i>
          <span>Configurations système</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#import-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-cloud-upload"></i>
          <span>Importations données</span>
            <i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="import-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
            <a href="{% url 'import_data:import_data' %}">
              <i class="bi bi-circle"></i><span>Importer</span>
            </a>
          </li>
            <li>
            <a href="{% url 'import_data:create-model-importation' %}">
              <i class="bi bi-circle"></i><span>Nouveau modèle</span>
            </a>
          </li>

            <li>
            <a href="{% url 'import_data:all_models_importation' %}">
              <i class="bi bi-circle"></i><span>Mes modèles</span>
            </a>
          </li>

        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#data-reference-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-server"></i>
          <span>Référentiel de données</span>
            <i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="data-reference-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
                    <a href="{% url 'data-reference:create-model-table' %}">
                      <i class="bi bi-circle"></i><span>{{ "Nouveau modèle"|upper }}</span>
                    </a>
                </li>
            <li>
                    <a href="{% url 'data-reference:all-models-tables' %}">
                      <i class="bi bi-circle"></i><span>Mes modèles</span>
                    </a>
                </li>
            {% for model in all_models_tables %}
                <li>
                    <a href="{% url 'data-reference:view-table-by-model' model.pk %}">
                      <i class="bi bi-circle"></i><span>{{ model.title|upper }}</span>
                    </a>
                </li>
            {% endfor %}
            {% comment %}
            {% for model in models %}
                <li>
                    <a href="#">
                      <i class="bi bi-circle"></i><span>{{ model.model|upper }}</span>
                    </a>
                </li>
            {% endfor %}
            {% endcomment %}
        </ul>
      </li>
      <!-- End Import Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Rapprochement</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>Etats des contrôles</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>Générer les contrôles</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Rapprochement Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-shield-exclamation"></i>
          <span>Reclammations</span>
          <i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>Gestion des anomalies</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>Etat des anomalies</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>Gestions des incidents</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>Piste d'audit d'incidents</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Reclammations Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-file-earmark-excel"></i><span>Reporting</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'data_reporting:create-model-reporting' %}">
              <i class="bi bi-circle"></i><span>Nouveau Modèle</span>
            </a>
          </li>
          <li>
            <a href="{% url 'data_reporting:all-models-reporting' %}">
              <i class="bi bi-circle"></i><span>Mes Modèles</span>
            </a>
          </li>
            <li>
            <a href="{% url 'data_reporting:generate-reporting' %}">
              <i class="bi bi-circle"></i><span>Génerer un reporting</span>
            </a>
          </li>
             <li>
            <a href="{% url 'data_reporting:list-generated-reporting' %}">
              <i class="bi bi-circle"></i><span>Reportings générés</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Reporting Nav -->

      <li class="nav-heading">Pages</li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#profil-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person"></i><span>Profil</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="profil-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'users:edit_user_profile' %}">
              <i class="bi bi-circle"></i><span>Editer Profil</span>
            </a>
          </li>

          <li>
            <a href="{% url 'users:change_password' %}">
              <i class="bi bi-circle"></i><span>Changer Mot Passe</span>
            </a>
          </li>
        </ul>
      </li>



      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'users:logout_user' %}">
          <i class="bi bi-box-arrow-left"></i>
          <span>Déconnexion</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-card-list"></i>
          <span>Logs</span>
        </a>
      </li>

    </ul>

  </aside>
  <!-- End Sidebar-->
    {% block main %}
        <main id="main" class="main">

    <div class="pagetitle">
        <h1>Création de profils et droits d'accès</h1>
    </div>
    <!-- End Page Title -->

    <section class="">

      <div class="container-fluid">

        <!-- Alert Messages -->
        <div class="my-3">

          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle"></i>
            <strong>Success !</strong> Profil mise à jour avec succès.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle"></i>
            <strong>Success !</strong> Mot de passe mise à jour avec succès.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <strong>failure !</strong> Le profil n'a pas été mise à jour.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <strong>failure !</strong> Le mot de passe n'a pas été mise à jour.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        </div>
        <!-- Alert Messages End -->

        <div class="row d-flex">
            <div class="col-md-8">

                <!-- Profile Edit Form -->
                <form action="#" class="profile-form">

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Image Profil</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="profileImage" type="file" class="form-control" id="profileImage" value="">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom complet <small><sup>*</sup></small></label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fullName" type="text" class="form-control" id="fullName" value="">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="about" class="col-md-4 col-lg-3 col-form-label">A Propos</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="about" class="form-control" id="about" style="height: 100px"></textarea>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Poste <small><sup>*</sup></small></label>
                      <div class="col-md-8 col-lg-9">
                        <input name="job" type="text" class="form-control" id="Job" value="">
                      </div>
                    </div>

                    <div class="row mb-3">
                        <label for="dpt" class="col-md-4 col-lg-3 col-form-label">Département <small><sup>*</sup></small></label>
                        <div class="col-md-8 col-lg-9">
                          <select name="dpt" class="form-control" id="dpt" value="">
                              <option value="">Monétique</option>
                              <option value="">Trésorerie</option>
                          </select>
                        </div>
                      </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Adresse</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="address" type="text" class="form-control" id="Address" value="">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Téléphone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="Phone" value="">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email <small><sup>*</sup></small></label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="Email" value="">
                      </div>
                    </div>

                    <div class="row mb-3">
                        <label for="pwd" class="col-md-4 col-lg-3 col-form-label">Default password <small><sup>*</sup></small></label>
                        <div class="col-md-8 col-lg-9">
                          <input name="pwd" type="password" class="form-control" id="pwd" value="">
                        </div>
                      </div>

                    <div class="text-center">
                      <button type="submit" class="">Enregistrer</button>
                    </div>
                  </form>
                  <!-- End Profile Edit Form -->

            </div>
        </div>

      </div>

    </section>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  </main>
    {% endblock %}
  <!-- End #main -->

  {% include 'block/footer.html' %}

  <!-- Vendor JS Files -->

  <!-- <script src="/public/vendor/simple-datatables/simple-datatables.js"></script> -->

  <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Template Main JS File -->


  {% block footer_script %}

  {% endblock %}

</body>

</html>