{% extends 'block/base.html' %}
{% load static %}
{% block main %}
    <main id="main" class="main">

    <div class="pagetitle">
        <h1>Modèle d'importation: {{ filters.count }}</h1>
    </div>
    <!-- End Page Title -->

    <section class="">

      <div class="container-fluid">

        <!-- Alert Messages -->
        <div class="my-3">

          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle"></i>
            <strong>Success !</strong> Profil mise à jour avec succès.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle"></i>
            <strong>Success !</strong> Mot de passe mise à jour avec succès.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
            {{ form.errors }}
            {{ cell_form.errors }}
            {% for error in form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-triangle-fill"></i>
                <strong>failure !</strong> {{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
        </div>
        <!-- Alert Messages End -->


        <div class="row d-flex">
            <div class="col-md-12">


                        <div class="card row-md-3">
                            <h5 class="card-header">Table: {{ table_reporting.title }}</h5>
                            <div class="card-body">

                                <table id="table-" class="table table-striped table-bordered display nowrap" style="width:100%">
                                  <thead>
                                      <tr class="text text-uppercase">
                                          <th>Name</th>
                                          <th>Champ</th>
                                          <th>Filtre</th>
                                          <th>Valeur(s)</th>
                                          <th>Date et heure</th>
                                          <th>Actions</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                        {% for filter in filters %}
                                        <tr>
                                              <td>{{ filter.name|upper }}</td>
                                              <td>{{ filter.field|upper }}</td>
                                              <td><b>{{ filter.operator_string }}</b></td>
                                            <td><a href="{% url 'data_reporting:detail-value-model' filter.pk %}">{{ filter.filter_to_values.all|length }} valeur(s)|| {{ filter.get_filter_values }}</a></td>
                                              <td>{{ table.created }}</td>
                                              <td>
                                                <a type="button" data-bs-toggle="modal" data-bs-target="#modalField{{ filter.pk }}"><i class="bi bi-trash"></i></a>
                                                <a href="#"><i class="bi bi-pen"></i></a>
                                              </td>
                                        </tr>
                                        <div class="modal fade" id="modalField{{ filter.pk }}" tabindex="-1" role="dialog" aria-labelledby="modal-field-title{{ filter.pk }}" aria-hidden="true">
                                              <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="modal-field-title{{ filter.pk }}">Confirmation</h5>
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                    <div class="col-md-12">

                                                        <!-- Profile Edit Form -->
                                                        <form action="{% url 'data_reporting:delete-filter-reporting' filter.pk %}" id="form_delete_{{ filter.pk }}" method="post" class="profile-form">
                                                            {% csrf_token %}
                                                            <div class="row m-auto">
                                                              <h1>Êtes vous sûr(e) de vouloir supprimer cet élément?</h1>
                                                              <input name="confirmation" type="hidden"  id="id_confirmation" value="no" class="confirmation">
                                                              <input name="key" type="hidden" id="id_key" class="key" value="">
                                                            </div>
                                                        </form>
                                                          <!-- End Profile Edit Form -->

                                                    </div>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-danger" id="btn_delete_{{ filter.pk }}">Delete</button>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>
                                  {% endfor %}






                                  </tbody>
                                </table>


                            </div>
                            <div class="card-footer">
                                <a href="{% url 'data_reporting:create-filter-reporting' table_reporting.pk %}" class="btn btn-primary">Add</a>
                            </div>

                        </div>


            </div>
        </div>

      </div>

    </section>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  </main>



{% endblock %}
{% block footer_script %}
    <script type="application/javascript">
        $(document).ready(function() {

                $('#table-').DataTable(

                );
            {% for filter in filters %}
                $("#btn_delete_{{ filter.pk }}").on("click", ()=>{
                    console.log("I'm here!")
                    console.log($("#form_delete_{{ filter.pk }} .confirmation" ))
                    $("#form_delete_{{ filter.pk }} #id_key" ).attr("value", "{{ filter.pk }}")
                    // $("#form_delete_{{ filter.pk }}").submit()

                })
                $(".base-cancel").on("click", ()=>{
                    $("#form_delete_{{ filter.pk }} #id_confirmation" ).attr("value", "no")
                    $("#form_delete_{{ filter.pk }} #id_key" ).attr("value", "")

                })
            {% endfor %}


            });

    </script>
{% endblock %}